In [15]:
# Cody Giles - Student ID: 010506641
# C964 Capstone - Movie Audience Rating Predictor aka The MARP

import pandas as pd
from xgboost import XGBClassifier
# read data
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
data = load_iris()
X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)
# create model instance
bst = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# make predictions
preds = bst.predict(X_test)

# Bring in the dataset CSV
movies_df = pd.read_csv('imdb_movies - test.csv')

# Breaks out the CSV into just the columns we're interested in
selected_columns = movies_df[['names', 'score', 'crew', 'budget_x']]

# Breaks out the cast / who's starring in the movies
starring_df = movies_df
starring_df['crew'] = starring_df['crew'].apply(lambda x: [y for y in str(x).split(', ')[::2]])
cast = starring_df[['crew']]

# SCORING THE ACTORS
# Define the multipliers (1st actor gets a 3x multiplier, 2nd gets 2x, 3rd gets 1.5x)
multipliers = [3, 2, 1.5, 1]

# Dictionary to store actor scores
actor_scores = {}

for idx, row in movies_df.iterrows():
    actor_list = row['crew']
    user_score = row['score']  # Get the user score for the movie
    for i, actor in enumerate(actor_list):
        multiplier = multipliers[i] if i < len(multipliers) else 1  # Apply the multiplier
        weighted_score = multiplier * user_score  # Multiply by the user score
        if actor in actor_scores:
            actor_scores[actor] += weighted_score
        else:
            actor_scores[actor] = weighted_score

# Convert the actor_scores dictionary to a DataFrame
actor_scores_df = pd.DataFrame(list(actor_scores.items()), columns=['crew', 'score'])

# Output actor_scores df
actor_scores_df



# print(movies_df)
#print(selected_columns)

                 crew  score
0   Michael B. Jordan  494.0
1      Tessa Thompson  228.5
2     Jonathan Majors  109.5
3         Wood Harris   73.0
4     Phylicia Rashād   73.0
5     Mila Davis-Kent   73.0
6    Florian Munteanu   73.0
7  José Benavidez Jr.   73.0
8       Selenis Leyva   73.0